.copyist-header {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  height: $header-height;
  border-bottom: 1px solid $panel-divider-col;
}

.copyist-global-controls {
  //margin-left: auto;
  flex: 0 0 150px;
  text-align: right;
}

.copyist-title-input {
  flex: 1;
  border: 0;
  padding: 0 .5em;


  &:focus {
    outline-width: 0;
  }
}
