.copyist *,
.copyist *:before,
.copyist *:after {
  box-sizing: border-box;
}

.copyist {
  display: flex;
  flex-flow: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px; // value of 1em

  button {
    background: transparent;
    border: 0;
    cursor: pointer;
    height: 2em;
    min-width: 2em;
    text-align: center;
    line-height: 1;

    &:hover {
      background: #f0f0f0;
    }
  }
}
